@use '../../core/tokens';
@use '../../core/util';

$_pos-ver: tokens.$pos-ver;
$_just-ali: tokens.$just-ali;
$_imp: util.$important;

@each $key, $pos in $_pos-ver {
    @each $name, $val in $_just-ali {
        .align-#{$name}-#{$key} {
            align-#{$val}: $pos #{$_imp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-align-#{$name}-#{$key} {
                align-#{$val}: $pos #{$_imp};
            }
        }
    }
}