@use '../../core/tokens/positions';
@use '../../core/tokens/alignment';
@use '../../core/util';

$_pos-hor: positions.$pos-hor;
$_just-ali: alignment.$just-ali;
$_imp: util.$important;

@each $key, $pos in $_pos-hor {
    @each $name, $val in $_just-ali {
        .justify-#{$name}-#{$key} {
            justify-#{$val}: $pos #{$_imp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-justify-#{$name}-#{$key} {
                justify-#{$val}: $pos #{$_imp};
            }
        }
    }
}
