//@use '../../../../../core/variables/colors';
@use '../../../../../core/util';

@include util.c-conf-reset(text-d);

/*@mixin t-c-res-conf {
    --text-d-c-sh-i: 100%;
    --text-d-c-sh-t: white;
    --text-d-c-op: 1;
}

.t-c-res{
    @include t-c-res-conf();
}*/

@include util.color-gen(text-decoration-color, text-d);

/*@each $ns, $val in colors.$colors {
    $color-base: #{util.rgb-values($val)};
    $text-color: util.color-scheme(--text-d-c-b, --text-d-c-sh-i, --text-d-c-sh-t, --text-d-c-op);

    .text-d-c-#{"" + $ns} {
        --text-d-c-b: #{$color-base};

        --text-d-c: #{$text-color};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-c-#{"" + $ns} {
            --text-d-c-b: #{$color-base};

            --text-d-c: #{$text-color};
        }
    }
}*/