@use '../../../../../core/variables/colors';
@use '../../../../../core/util';

@each $ns, $val in colors.$color-shades {
    .text-c-sh-#{"" + $ns} {
        --text-c-sh-i: #{$val};
        --text-c-sh-t: #{$ns};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-c-sh-#{"" + $ns} {
            --text-c-sh-i: #{$val};
            --text-c-sh-t: #{$ns};
        }
    }
}