@use '../../../../../core/variables/colors';
@use '../../../../../core/util';

@mixin t-c-res {
    --text-d-c-sh-i: 100%;
    --text-d-c-sh-t: white;
    --text-d-c-op: 1;
}

@each $ns, $val in colors.$colors {
    $color-base: #{util.rgb-values($val)};
    $text-color: util.color-scheme(--text-d-c-b, --text-d-c-sh-i, --text-d-c-sh-t, --text-d-c-op);

    .text-d-c-#{"" + $ns} {
        @include t-c-res();

        --text-d-c-b: #{$color-base};

        --text-d-c: #{$text-color};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-c-#{"" + $ns} {
            @include t-c-res();

            --text-d-c-b: #{$color-base};

            --text-d-c: #{$text-color};
        }
    }
}