@use '../../../../../core/variables/colors';
@use '../../../../../core/util';

@each $ns, $val in colors.$color-shades {
    .text-c-sh-#{"" + $ns} {
        --t-c-sh-i: $val;
        --t-c-sh-t: $ns;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-c-sh-#{"" + $ns} {
            --t-c-sh-i: $val;
            --t-c-sh-t: $ns;
        }
    }
}