@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$pos-ver: tokens.$pos-ver;
$just-ali: tokens.$just-ali;
$imp: util.$important;

@each $key, $pos in $pos-ver {
    @each $name, $val in $just-ali {
        .align-#{$name}-#{$key} {
            align-#{$val}: $pos #{$imp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-align-#{$name}-#{$key} {
                align-#{$val}: $pos #{$imp};
            }
        }
    }
}