@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$colors: variables.$colors;
$per: map.get(variables.$values, "per");
$imp: util.$important;

@each $key, $col in $colors {
    .bg-c-#{$key} {
        background-color: $col #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-c-#{$key} {
            background-color: $col #{$imp};
        }
    }
}

@each $name, $img in $images {
    .bg-i-#{$name} {
        background-image: $img #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-i-#{$name} {
            background-image: $img #{$imp};
        }
    }
}

@for $i from 0 through 20 {
    .bg-s-#{$i} {
        background-size: calc(#{$i} * #{$per}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-s-#{$i} {
            background-size: calc(#{$i} * #{$per}) #{$imp};
        }
    }
}

@each $key, $val in $bg-pos {
    .bg-p-#{$key} {
        background-position: $val #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-p-#{$key} {
            background-position: $val #{$imp};
        }
    }
}

@each $key, $val in $repeat {
    .bg-r-#{$key} {
        background-repeat: $val #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-r-#{$key} {
            background-repeat: $val #{$imp};
        }
    }
}