@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';

$pixel: map.get(variables.$values, 'pixel');
$directions: tokens.$directions;
$border-corns: tokens.$border-corns;
$colors: tokens.$colors;
$borders: tokens.$borders;

.border {
    border-radius: 2;
    border-width: 1px;
    border-style: solid;
}

@for $ind from 0 to 10 {
    .border-#{$ind} {
        border-width: calc($ind * 1px);
    }

    @each $dir, $props in $directions {
        @each $prop in $props {
            .border-#{$dir}-w-#{$ind} {
                border-#{$prop}-width: calc($ind * 1px);
            }
        }
    }

    .radius-#{$ind} {
        border-radius: calc($ind * $pixel);
    }

    @each $key, $corners in $border-corns {
        @each $corn in $corners {
            .radius-#{$key}-#{$ind} {
                border-#{$corn}-radius: calc($ind * $pixel);
            }
        }
    }
}

@each $key, $col in $colors {
    .border-#{$key} {
        border-color: $col;
    }

    @each $dir, $props in $directions {
        @each $prop in $props {
            .border-#{$dir}-c-#{$key} {
                border-#{$prop}-color: $col;
            }
        }
    }
}

@each $key in $borders {
    .border-#{$key} {
        border-style: $key;
    }

    @each $dir, $props in $directions {
        @each $prop in $props {
            .border-#{$dir}-#{$key} {
                border-#{$prop}-style: $key;
            }
        }
    }
}