@use '../core/variables';
@use '../core/util';

$_colors: variables.$colors;
$_imp: util.$important;

@each $key, $col in $_colors {
    .c-#{$key} {
        color: $col #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-#{$key} {
            color: $col #{$_imp};
        }
    }
}