@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$colors: variables.$colors;
$imp: util.$important;

@each $key, $col in $colors {
    .c-#{$key} {
        color: $col #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-#{$key} {
            color: $col #{$imp};
        }
    }
}