@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';

$colors: variables.$colors;
$breakpoints: variables.$breakpoints;
$use_breakpoints: map.get(variables.$config, 'breakpoints');

@each $key, $col in $colors {
    .c-#{$key} {
        color: $col;
    }

    @if $use_breakpoints {
        @each $name, $val in $breakpoints {
            @media (min-width: $val) {
                .#{$name}-c-#{$key} {
                    color: $col;
                }
            }
        }
    }
}