@use '../core/tokens/display';
@use '../core/util';

$_displays: display.$displays;

@each $key in $_displays {
    .#{$key} {
        display: util.imp($key);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-#{$key} {
            display: util.imp($key);
        }
    }
}
