@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';

$displays: tokens.$displays;
$breakpoints: variables.$breakpoints;
$use_breakpoints: map.get(variables.$config, 'breakpoints');

@each $key in $displays {
    .#{$key} {
        display: $key;
    }

    @if $use_breakpoints {
        @each $name, $val in $breakpoints {
            @media (min-width: $val) {
                .#{$name}-#{$key} {
                    display: $key;
                }
            }
        }
    }
}