@use '../core/tokens';
@use '../core/util';

$_displays: tokens.$displays;
$_imp: util.$important;

@each $key in $_displays {
    .#{$key} {
        display: $key #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-#{$key} {
            display: $key #{$_imp};
        }
    }
}