@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$percent: map.get(variables.$values, 'percent');
$imp: util.$important;

@for $ind from 0 through 20 {
    .max-h-#{$ind} {
        max-height: calc(#{$ind} * #{$percent}) #{$imp};
    }

    .min-h-#{$ind} {
        min-height: clac(#{$ind} * #{$percent}) #{$imp};
    }

    .h-per-#{$ind} {
        height: calc(#{$ind} * #{$percent}) #{$imp};
    }

    .h-fix-#{$ind} {
        height: calc(#{$ind} * 1rem) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-max-h-#{$ind} {
            max-height: calc(#{$ind} * #{$percent}) #{$imp};
        }

        .#{$bp}-min-h-#{$ind} {
            min-height: clac(#{$ind} * #{$percent}) #{$imp};
        }

        .#{$bp}-h-per-#{$ind} {
            height: calc(#{$ind} * #{$percent}) #{$imp};
        }

        .#{$bp}-h-fix-#{$ind} {
            height: calc(#{$ind} * 1rem) #{$imp};
        }
    }
}