@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';

$pixel: map.get(variables.$values , 'pixel');
$directions: tokens.$directions;

@for $ind from 0 to 10 {
    .margin-#{$ind} {
        margin: calc($ind * $pixel);
    }

    @each $dir, $props in $directions {
        @each $prop in $props {
            .margin-#{$dir}-#{$ind} {
                margin-#{$prop}: calc($ind * $pixel);
            }
        }
    }
}