@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$per: map.get(variables.$values, 'per');
$imp: util.$important;

@for $ind from 0 through 20 {
    .o-#{$ind} {
        opacity: calc(#{$ind} * #{$per}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-o-#{$ind} {
            opacity: calc(#{$ind} * #{$per}) #{$imp};
        }
    }
}