@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';

$pos: tokens.$pos;
$directions: tokens.$directions;
$breakpoints: variables.$breakpoints;
$use_breakpoints: map.get(variables.$config, 'breakpoints');

@each $prop in $pos {
    .#{$prop} {
        position: $prop;
    }

    @if $use_breakpoints {
        @each $name, $val in $breakpoints {
            @media(min-width: $val) {
                .#{$name}-#{$prop} {
                    position: $prop;
                }
            }
        }
    }
}

@each $key, $prop in $directions {
    @for $i from 0 to 21 {
        @if $key !=x and $key !=y {
            .#{$prop}-#{$i} {
                #{$prop}: $percent * $i;
            }

            @if $use_breakpoints {
                @each $name, $val in $breakpoints {
                    @media(min-width: $val) {
                        .#{$name}-#{$prop}-#{$i} {
                            #{$prop}: $percent * $i
                        }
                    }
                }
            }
        }
    }
}