@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';

$pos-hor: tokens.$pos-hor;
$text-deco: tokens.$text-deco;

@each $key, $pos in $pos-hor {
    .text-a-#{key} {
        text-align: $pos;
    }
}

@each $key in $text-deco {
    .text-d-#{$key} {
        text-decoration: $key;
    }
}