@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';


$values: variables.$values;
$per: map.get($values, 'per');
$imp: util.$important;

@for $ind from 0 through 20 {
    .max-w-#{$ind} {
        max-width: calc(#{$ind} * #{$per}) #{$imp};
    }

    .min-w-#{$ind} {
        min-width: calc(#{$ind} * #{$per}) #{$imp};
    }

    @each $key, $value in $values {
        .w-#{$key}-#{$ind} {
            width: calc(#{$ind} * #{$value}) #{$imp};
        }
    }

    @include util.responsive using ($bp) {
        .#{$bp}-max-w-#{$ind} {
            max-width: calc(#{$ind} * #{$per}) #{$imp};
        }

        .#{$bp}-min-w-#{$ind} {
            min-width: calc(#{$ind} * #{$per}) #{$imp};
        }

        @each $key, $value in $values {
            .#{$bp}-w-#{$key}-#{$ind} {
                width: calc(#{$ind} * #{$value}) #{$imp};
            }
        }
    }
}