@use 'sass:map';

@use '../../../core/variables/volumes';
@use '../../../core/util';

$_px: map.get(volumes.$values, 'px');
$_imp: util.$important;

@for $ind from 1 through 9 {
    .c-gap-#{$ind} {
        column-gap: calc(#{$ind} * #{$_px}) #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-gap-#{$ind} {
            column-gap: calc(#{$ind} * #{$_px}) #{$_imp};
        }
    }
}
