@use '../../../core/util';

$_unit-ns: c-gap-unit;

@for $ind from 0 through 100 {
    $gap: util.units($ind, $_unit-ns);

    .c-gap-#{$ind} {
        column-gap: $gap;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-gap-#{$ind} {
            column-gap: $gap;
        }
    }
}