@use 'sass:map';

@use '../../../core/variables';
@use '../../../core/util';

$px: map.get(variables.$values, 'px');
$imp: util.$important;

@for $ind from 1 through 9 {
    .c-gap-#{$ind} {
        column-gap: calc(#{$ind} * #{$px}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-gap-#{$ind} {
            column-gap: calc(#{$ind} * #{$px}) #{$imp};
        }
    }
}