@use '../../../core/util';

$_unit-ns: gap-unit;

@for $ind from 0 through 100 {
    $gap: util.units($ind, $_unit-ns);

    .gap-#{$ind} {
        gap: $gap;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-gap-#{$ind} {
            gap: $gap;
        }
    }
}