@use 'sass:map';

@use '../../../core/variables';
@use '../../../core/util';

$_px: map.get(variables.$values, 'px');
$_imp: util.$important;

@for $ind from 1 through 9 {
    .r-gap-#{$ind} {
        row-gap: calc(#{$ind} * #{$_px}) #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-r-gap-#{$ind} {
            row-gap: calc(#{$ind} * #{$_px}) #{$_imp};
        }
    }
}