@use '../../../core/util';

$_unit-ns: r-gap-unit;

@for $ind from 0 through 100 {
    $gap: util.units($ind, $_unit-ns);

    .r-gap-#{$ind} {
        row-gap: #{$gap};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-r-gap-#{$ind} {
            row-gap: #{$gap};
        }
    }
}