@use '../../core/util';

$_unit-ns: o-unit;

@for $ind from 0 through 100 {
    $op: util.units($ind, $_unit-ns, 1%);

    .o-#{$ind} {
        opacity: $op;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-o-#{$ind} {
            opacity: $op;
        }
    }
}