@use "../../../core/variables/volumes";
@use "../../../core/util";

$_values: volumes.$values;

@each $ns, $val in $_values {
    .o-unit-#{$ns} {
        --o-unit: $val;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-o-unit-#{$ns} {
            --o-unit: $val;
        }
    }
}