@use '../../core/tokens/directions';
@use '../../core/util';

$_directions: directions.$directions;
$_unit-ns: p-unit;

@for $ind from 0 through 100 {
    $padding: util.units($ind, $_unit-ns);

    .p-#{$ind} {
        padding: $padding;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-p-#{$ind} {
            padding: $padding;
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .p-#{$dir}-#{$ind} {
                padding-#{$prop}: $padding;
            }

            @include util.responsive using ($bp) {
                .#{$bp}-p-#{$dir}-#{$ind} {
                    padding-#{$prop}: $padding;
                }
            }
        }
    }
}