@use '../../../core/tokens/directions';
@use '../../../core/util';

$_unit-ns: p-unit;

@for $ind from 0 through 100 {
    $padding: util.units($ind, $_unit-ns);

    .p-#{$ind} {
        padding: #{$padding};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-p-#{$ind} {
            padding: #{$padding};
        }
    }

    @each $key, $value in directions.$directions {
        @each $val in $value {
            .p-#{$key}-#{$ind} {
                padding-#{$val}: #{$padding};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-p-#{$key}-#{$ind} {
                    padding-#{$val}: #{$padding};
                }
            }
        }
    }
}