@use 'sass:color';

@use '../../core/variables';
@use '../../core/util';

$_shades: variables.$color-shades;

@each $name, $shade in $_shades {
    .bg-c-sh-#{"" + $name} {
        --bg-c-sh-i: #{$shade};
        --bg-c-sh-t: #{$name};
    }

    @include util.responsive using ($bp) {
        .bg-c-sh-#{"" + $name} {
            --bg-c-sh-i: #{$shade};
            --bg-c-sh-t: #{$name};
        }
    }
}
