@use '../../../core/variables/colors';
@use '../../../core/util';

@each $ns, $val in colors.$colors {
    $color-base: util.rgb-values($val);
    $color-scheme: util.color-scheme(--bg-c-b, --bg-c-sh-i, --bg-c-sh-t, --bg-c-op);

    .bg-c-#{"" + $ns} {
        --bg-c-b: #{$color-base};

        --bg-c: #{$color-scheme};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-c-#{"" + $ns} {
            --bg-c-b: #{$color-base};

            --bg-c: #{$color-scheme};
        }
    }
}