@use '../../../core/variables/colors';
@use '../../../core/util';

$_shades: colors.$color-shades;

@each $name, $shade in $_shades {
    .bg-c-sh-#{"" + $name} {
        --bg-c-sh-i: #{$shade};
        --bg-c-sh-t: #{$name};
    }

    @include util.responsive using ($bp) {
        .bg-c-sh-#{"" + $name} {
            --bg-c-sh-i: #{$shade};
            --bg-c-sh-t: #{$name};
        }
    }
}
