@use 'sass:map';

@use '../../core/tokens/directions';
@use '../../core/variables/volumes';
@use '../../core/util';

$_imp: util.$important;
$_directions: directions.$directions;
$_per: map.get(volumes.$values, 'per');

@each $key, $prop in $_directions {
    @for $i from 0 through 20 {
        @if $key !=x and $key !=y {
            .#{$prop}-#{$i} {
                #{$prop}: calc(#{$_per} * #{$i}) #{$_imp};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-#{$prop}-#{$i} {
                    #{$prop}: calc(#{$_per} * #{$i}) #{$_imp};
                }
            }
        }
    }
}
