@use '../../core/tokens/position';
@use '../../core/util';

$_pos: position.$pos;

@each $prop in $_pos {
    .#{$prop} {
        position: util.imp($prop);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-#{$prop} {
            position: util.imp($prop);
        }
    }
}