@use '../../core/tokens/position';
@use '../../core/util';

$_pos: position.$pos;
$_imp: util.$important;

@each $prop in $_pos {
    .#{$prop} {
        position: $prop #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-#{$prop} {
            position: $prop #{$_imp};
        }
    }
}
