@use 'sass:meta';
@use 'sass:color';

@use './util';
@use '../variables/colors';

@function rgb-values($col) {
    @if meta.type-of($col) !='color' {
        @return null;
    }

    @return #{color.channel($col, "red", $space: rgb)},
    #{color.channel($col, "green", $space: rgb)},
    #{color.channel($col, "blue", $space: rgb)};
}

@function color-scheme($c, $sh-i, $sh-t, $op) {
    @return rgb(from color-mix(in srgb, rgb(var(#{$c})) var(#{$sh-i}, 100%), var(#{$sh-t}, white)) r g b / var(#{$op}, 1));
}

@mixin color-gen($prefix) {
    $var-pref: if(sass($prefix ==null or $prefix ==''): 'c'; else: '#{$prefix}-c');

    @each $key, $value in colors.$colors {
        $color-base: rgb-values($value);
        $color-final: color-scheme(--#{$var-pref}-b, --#{$var-pref}-sh-i, --#{$var-pref}-sh-t, --#{$var-pref}-op);

        .#{$var-pref}-#{"" + $key} {
            --#{$var-pref}-b: #{$color-base};
            --#{$var-pref}: #{$color-final};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-#{$var-pref}-#{"" + $key} {
                --#{$var-pref}-b: #{$color-base};
                --#{$var-pref}: #{$color-final};
            }
        }
    }
}

@mixin c-conf-default ($prefix) {
    --#{$prefix}-sh-i: 100%;
    --#{$prefix}-sh-t: white;
    --#{$prefix}-op: 1;
}

@mixin c-conf-reset($prefix) {
    $var-pref: if(sass($prefix ==null or $prefix ==''): 'c'; else: '#{$prefix}-c');

    .#{$var-pref}-res {
        @include c-conf-default($var-pref);
    }
}

@mixin color-sha-gen($prefix) {
    $var-pref: if(sass($prefix ==null or $prefix ==''): 'c'; else: '#{$prefix}-c');

    @each $key, $value in colors.$color-shades {
        .#{$var-pref}-sh-#{"" + $key} {
            --#{$var-pref}-sh-i: #{$value};
            --#{$var-pref}-sh-t: #{$key};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-#{$var-pref}-sh-#{"" + $key} {
                --#{$var-pref}-sh-i: #{$value};
                --#{$var-pref}-sh-t: #{$key};
            }
        }
    }
}