@use 'sass:list';

@use './util';

@mixin value-prefix-parser($property, $list) {
    @each $value in $list {
        @include util.responsive-class('#{$value}') {
            #{$property}: #{$value};
        }
    }
}

@mixin value-parser($properties, $prefixes, $list) {
    @if list.length($properties)>0 and list.length($prefixes)>0 and list.length($properties)==list.length($prefixes) {
        @for $ind from 1 through list.length($properties) {
            $prefix: list.nth($prefixes, $ind);
            $property: list.nth($properties, $ind);

            @each $value in $list {
                @include util.responsive-class('#{$prefix}-#{$value}') {
                    #{$property}: #{$value};
                }
            }
        }
    }
}

@mixin key-value-parser($properties, $prefixes, $list) {
    @if list.length($properties)>0 and list.length($prefixes)>0 and list.length($properties)==list.length($prefixes) {
        @for $ind from 1 through list.length($properties) {
            $prefix: list.nth($prefixes, $ind);
            $property: list.nth($properties, $ind);

            @each $key, $value in $list {
                @include util.responsive-class('#{$prefix}-#{$key}') {
                    #{$property}: #{$value};
                }
            }
        }
    }
}

@mixin var-key-value-parser($prefixes, $list) {
    @if list.length($prefixes)>0 {
        @each $pref in $prefixes {
            @each $key, $value in $list {
                @include util.responsive-class('#{$pref}-#{$key}') {
                    --#{$pref}: #{$value};
                }
            }
        }
    }
}

@mixin list-crossing-parser ($property, $prefix, $main-list, $sub-lists) {
    @if list.length($sub-lists)>0 {
        @each $key, $value in $main-list {
            @each $list in $sublists {
                @each $ns, $var in $list {
                    @include util.responsive-class('#{$prefix}-#{$key}-#{$ns}') {
                        #{$property}-#{$value}: util.imp($var);
                    }
                }
            }
        }
    }
}