@use 'sass:map';

@use '../../../core/variables';
@use '../../../core/util';

$px: map.get(variables.$values, 'px');
$imp: util.$important;

@for $ind from 0 through 20 {
    .font-s-#{$ind} {
        font-size: calc(#{$ind} * #{$px}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-s-#{$ind} {
            font-size: calc(#{$ind} * #{$px}) #{$imp};
        }
    }
}