@use '../../../core/variables/fonts';
@use '../../../core/util';

$_fonts: fonts.$fonts;

@each $name, $font in $_fonts {
    .font-#{$name} {
        font-family: util.imp($font);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-#{$name} {
            font-family: util.imp($font);
        }
    }
}