@use '../../../core/utility/util';

@mixin font-res-conf {
    --font-f: inherit;
    --font-s: 1rem;
    --font-st: normal;
    --font-w: 400;
}

.font-res{
    @include font-res-conf();
}

.font {
    font-family: util.imp(var(--font-f, inherit));
    font-size: util.imp(var(--font-s, 1rem));
    font-style: util.imp(var(--font-st, normal));
    font-weight: util.imp(var(--font-w, 400));
}