@use 'sass:map';

@use '../../../core/variables/fonts';
@use '../../../core/util';

$_fonts: fonts.$fonts-custom;

@each $font in $_fonts {
    $name: #{map.get($font, "name")};

    @font-face {
        font-family: $name;
        src: url('./fonts/#{map.get($font, "dest")}') format('#{map.get($font, "format")}');
    }

    .#{$name} {
        font-family: util.imp($name);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-#{$name} {
            font-family: util.imp($name);
        }
    }
}