@use '../../../core/tokens/font';
@use '../../../core/util';

$_imp: util.$important;
$_font-style: font.$font-style;

@each $key, $value in $_font-style {
    .font-st-#{$key} {
        font-style: $value #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-st-#{$key} {
            font-style: $value #{$_imp};
        }
    }
}
