@use '../../../core/util';

$_unit-ns: font-s-unit;

@for $ind from 0 through 100 {
    $font-size: util.units($ind, $_unit-ns);

    .font-s-#{$ind} {
        font-size: $font-size;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-s-#{$ind} {
            font-size: $font-size;
        }
    }
}