@use "../../core/variables/volumes";
@use "../../core/util";

$_values: volumes.$values;

@each $ns, $val in $_values {
    .b-w-unit-#{$ns} {
        --b-w-unit: $val;
    }

    .b-r-unit-#{$ns} {
        --b-r-unit: $val;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-w-unit-#{$ns} {
            --b-w-unit: $val;
        }

        .#{$bp}-b-r-unit-#{$ns} {
            --b-r-unit: $val;
        }
    }
}