@use '../../core/tokens';
@use '../../core/variables';
@use '../../core/util';

$_directions: tokens.$directions;
$_colors: variables.$colors;
$_imp: util.$important;

@each $key, $col in $_colors {
    .b-#{$key} {
        border-color: $col #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-#{$key} {
            border-color: $col #{$_imp};
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .b-#{$dir}-c-#{$key} {
                border-#{$prop}-color: $col #{$_imp};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-b-#{$dir}-c-#{$key} {
                    border-#{$prop}-color: $col #{$_imp};
                }
            }
        }
    }
}
