@use "../../core/util";

.b {
    //border width
    border-width: var(--b-w, 1px);
    border-top-width: var(--b-t-w, var(--b-w));
    border-bottom-width: var(--b-b-w, var(--b-w));
    border-left-width: var(--b-l-w, var(--b-w));
    border-right-width: var(--b-r-w, var(--b-w));
    //border style
    border-style: util.imp(var(--b-s, solid));
    border-top-style: util.imp(var(--b-t-s, var(--b-s)));
    border-bottom-style: util.imp(var(--b-b-s, var(--b-s)));
    border-left-style: util.imp(var(--b-l-s, var(--b-s)));
    border-right-style: util.imp(var(--b-r-s, var(--b-s)));
    //border color
    border-color: util.imp(var(--b-c, currentColor));
    //border radius
    border-radius: var(--b-r, 0px);
    border-top-left-radius: var(--b-tl-r, var(--b-r));
    border-top-right-radius: var(--b-tr-r, var(--b-r));
    border-bottom-left-radius: var(--b-bl-r, var(--b-r));
    border-bottom-right-radius: var(--b-br-r, var(--b-r));
}