@use '../../core/utility/util';

@mixin b-res-conf {
    //border style
    --b-t-s: util.imp(var(--b-t-s, solid));
    --b-b-s: util.imp(var(--b-b-s, solid));
    --b-l-s: util.imp(var(--b-l-s, solid));
    --b-r-s: util.imp(var(--b-r-s, solid));
}

.b-res {
    @include b-res-conf();
}

.b {
    //border style
    border-top-style: util.imp(var(--b-t-s, solid));
    border-bottom-style: util.imp(var(--b-b-s, solid));
    border-left-style: util.imp(var(--b-l-s, solid));
    border-right-style: util.imp(var(--b-r-s, solid));
    //border color
    border-color: util.imp(var(--b-c, currentColor));
}

.b-def {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}