@use '../../core/tokens/directions';
@use '../../core/tokens/decoration';
@use '../../core/util';

$_directions: directions.$directions;
$_borders: decoration.$dec-style;
$_imp: util.$important;

@each $key in $_borders {
    .b-#{$key} {
        --b-s: $key #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-#{$key} {
            --b-s: $key #{$_imp};
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .b-#{$dir}-#{$key} {
                --b-#{$prop}-s: $key #{$_imp};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-b-#{$dir}-#{$key} {
                    --b-#{$prop}-s: $key #{$_imp};
                }
            }
        }
    }
}
