@use '../../core/util';

@mixin b-res-conf {
    //border width
    --b-w: 0;
    --b-t-w: util.imp(var(--b-t-w, var(--b-w)));
    --b-b-w: util.imp(var(--b-b-w, var(--b-w)));
    --b-l-w: util.imp(var(--b-l-w, var(--b-w)));
    --b-r-w: util.imp(var(--b-r-w, var(--b-w)));
    //border style
    --b-s: solid;
    --b-t-s: util.imp(var(--b-t-s, var(--b-s)));
    --b-b-s: util.imp(var(--b-b-s, var(--b-s)));
    --b-l-s: util.imp(var(--b-l-s, var(--b-s)));
    --b-r-s: util.imp(var(--b-r-s, var(--b-s)));
    //border radius
    --b-r: 0;
    --b-tl-r: util.imp(var(--b-tl-r, var(--b-r)));
    --b-tr-r: util.imp(var(--b-tr-r, var(--b-r)));
    --b-bl-r: util.imp(var(--b-bl-r, var(--b-r)));
    --b-br-r: util.imp(var(--b-br-r, var(--b-r)));
}

.b-res {
    @include b-res-conf();
}

.b {
    //border width
    border-width: util.imp(var(--b-w, 0));
    border-top-width: util.imp(var(--b-t-w, var(--b-w)));
    border-bottom-width: util.imp(var(--b-b-w, var(--b-w)));
    border-left-width: util.imp(var(--b-l-w, var(--b-w)));
    border-right-width: util.imp(var(--b-r-w, var(--b-w)));
    //border style
    border-style: util.imp(var(--b-s, solid));
    border-top-style: util.imp(var(--b-t-s, var(--b-s)));
    border-bottom-style: util.imp(var(--b-b-s, var(--b-s)));
    border-left-style: util.imp(var(--b-l-s, var(--b-s)));
    border-right-style: util.imp(var(--b-r-s, var(--b-s)));
    //border color
    border-color: util.imp(var(--b-c, currentColor));
    //border radius
    border-radius: util.imp(var(--b-r, 0));
    border-top-left-radius: util.imp(var(--b-tl-r, var(--b-r)));
    border-top-right-radius: util.imp(var(--b-tr-r, var(--b-r)));
    border-bottom-left-radius: util.imp(var(--b-bl-r, var(--b-r)));
    border-bottom-right-radius: util.imp(var(--b-br-r, var(--b-r)));
}

.b-def {
    //--b-c: black;
    --b-r: 5px;
    --b-w: 1px;
    --b-s: solid;
}