@use '../../core/tokens/border';
@use '../../core/variables/volumes';
@use '../../core/util';

$_border-corns: border.$border-corns;

$_unit-ns: b-r-unit;

@for $ind from 0 through 100 {
    .r-#{$ind} {
        --b-r: util.units($ind, $_unit-ns);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-r-#{$ind} {
            --b-r: util.units($ind, $_unit-ns);
        }
    }

    @each $key, $props in $_border-corns {
        @each $prop in $props {
            .r-#{$key}-#{$ind} {
                --b-#{$prop}-r: util.units($ind, $_unit-ns);
            }

            @include util.responsive using ($bp) {
                .#{$bp}-r-#{$key}-#{$ind} {
                    --b-#{$prop}-r: util.units($ind, $_unit-ns);
                }
            }
        }
    }
}