@use '../../../core/util';

@mixin def-res {
    --h: 100%;
    --max-h: auto;
    --min-h: auto;
}

.h {
    @include def-res();

    height: util.imp(var(--h, 100%));
    max-height: util.imp(var(--max-h, auto));
    min-height: util.imp(var(--min-h, auto));
}