@use '../../../core/variables/volumes';
@use '../../../core/util';

$_values: volumes.$values;

@for $ind from 0 through 20 {
    @each $key, $value in $_values {
        .h-#{$key}-#{$ind} {
            height: util.imp(calc($ind * $value));
        }

        @include util.responsive using ($bp) {
            .#{$bp}-h-#{$key}-#{$ind} {
                height: util.imp(calc($ind * $value));
            }
        }
    }
}