@use '../../../core/util';

$_unit-ns: h-unit;

@for $ind from 0 through 100 {
    $height: util.units($ind, $_unit-ns);

    .h-#{$ind} {
        --h: #{$height};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-h-#{$ind} {
            --h: #{$height};
        }
    }
}