@use 'sass:map';

@use '../../../core/variables';
@use '../../../core/util';

$per: map.get(variables.$values, 'per');
$imp: util.$important;

@for $ind from 0 through 20 {
    .max-h-#{$ind} {
        max-height: calc(#{$ind} * #{$per}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-max-h-#{$ind} {
            max-height: calc(#{$ind} * #{$per}) #{$imp};
        }
    }
}