@use 'sass:map';

@use '../../../core/variables';
@use '../../../core/util';

$per: map.get(variables.$values, 'per');
$imp: util.$important;

@for $ind from 0 through 20 {
    .min-h-#{$ind} {
        min-height: clac(#{$ind} * #{$per}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-min-h-#{$ind} {
            min-height: clac(#{$ind} * #{$per}) #{$imp};
        }
    }
}