@use 'sass:map';

@use '../../../core/variables/volumes';
@use '../../../core/util';

$_per: map.get(volumes.$values, 'per');

@for $ind from 0 through 20 {
    $height: util.imp(clac($ind * $_per));

    .min-h-#{$ind} {
        --min-h: $height;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-min-h-#{$ind} {
            --min-h: $height;
        }
    }
}