@use '../../../core/util';

$_unit-ns: min-h-unit;

@for $ind from 0 through 100 {
    $height: util.units($ind, $_unit-ns, 1%);

    .min-h-#{$ind} {
        --min-h: #{$height};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-min-h-#{$ind} {
            --min-h: #{$height};
        }
    }
}