@use '../../core/util';

@mixin def-res {
    --flex-d: row;
    --flex-w: nowrap;
    --flex-b: auto;
    --flex-g: 0;
    --flex-s: 1;
}

.flex {
    @include def-res();

    flex-direction: util.imp(var(--flex-d, row));
    flex-wrap: util.imp(var(--flex-w, nowrap));
    flex-basis: util.imp(var(--flex-b, auto));
    flex-grow: util.imp(var(--flex-g, 0));
    flex-shrink: util.imp(var(--flex-s, 1));
}