@use '../../core/tokens/flex';
@use '../../core/util';

$_flex-dir: flex.$flex-dir;
$_imp: util.$important;

@each $key, $val in $_flex-dir {
    .flex-#{$key} {
        flex-direction: $val #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-flex-#{$key} {
            flex-direction: $val #{$_imp};
        }
    }
}

