@use '../../core/tokens';
@use '../../core/util';

$_imp: util.$important;
$_wrap: tokens.$flex-wrap;

@each $key, $val in $_wrap {
    .flex-w-#{$key} {
        flex-wrap: $val #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-flex-w-#{$key} {
            flex-wrap: $val #{$_imp};
        }
    }
}