@use '../../../core/variables/colors';
@use '../../../core/util';

$_opacity: colors.$color-opacity;

@each $name, $opac in $_opacity {
    .b-op-#{$name} {
        --b-op: #{$opac};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-op-#{$name} {
            --b-op: #{$opac};
        }
    }
}
