@use '../../../core/tokens/directions';
@use '../../../core/variables/colors';
@use '../../../core/util';

$_directions: directions.$directions;
$_colors: colors.$colors;

@each $key, $col in $_colors {
    .b-#{"" + $key} {
        --b-c-b: #{util.rgb-values($col)};

        --b-c: util.color-scheme(--b-c-b, --b-sh-i, --b-sh-t, --b-op);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-#{"" + $key} {
            --b-c-b: #{util.rgb-values($col)};

            --b-c: util.color-scheme(--b-c-b, --b-sh-i, --b-sh-t, --b-op);
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .b-#{$dir}-#{"" + $key} {
                --b-c-b: #{util.rgb-values($col)};

                border-#{$prop}-color: util.color-scheme(--b-c-b, --b-sh-i, --b-sh-t, --b-op);
            }

            @include util.responsive using ($bp) {
                .#{$bp}-b-#{$dir}-#{"" + $key} {
                    --b-c-b: #{util.rgb-values($col)};

                    border-#{$prop}-color: util.color-scheme(--b-c-b, --b-sh-i, --b-sh-t, --b-op);
                }
            }
        }
    }
}