@use '../../../core/variables/colors';
@use '../../../core/util';

@each $ns, $val in colors.$color-shades {
    .b-c-sh-#{"" + $ns} {
        --b-c-sh-i: #{$val};
        --b-c-sh-t: #{$ns};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-c-sh-#{"" + $ns} {
            --b-c-sh-i: #{$val};
            --b-c-sh-t: #{$ns};
        }
    }
}