@use '../../../core/variables/colors';
@use '../../../core/util';

$_shades: colors.$color-shades;

@each $name, $shade in $_shades {
    .b-sh-#{"" + $name} {
        --b-sh-i: #{$shade};
        --b-sh-t: #{$name};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-sh-#{"" + $name} {
            --b-sh-i: #{$shade};
            --b-sh-t: #{$name};
        }
    }
}
