@use '../../../core/tokens/directions';
@use '../../../core/variables/colors';
@use '../../../core/util';

@mixin b-c-res-conf {
    --b-sh-i: 100%;
    --b-sh-t: white;
    --b-op: 1;
}

.b-c-res{
    @include b-c-res-conf();
}

@each $key, $value in colors.$colors {
    $color-base: #{util.rgb-values($value)};
    $color-scheme: util.color-scheme(--b-c-b, --b-sh-i, --b-sh-t, --b-op);

    .b-c-#{"" + $key} {
        --b-c-b: #{$color-base};

        --b-c: #{$color-scheme};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-b-c-#{"" + $key} {
            --b-c-b: #{$color-base};

            --b-c: #{$color-scheme};
        }
    }

    @each $ns, $val in directions.$directions {
        @each $prop in $val {
            .b-c-#{$ns}-#{"" + $key} {
                --b-c-b: #{$color-base};

                border-#{$prop}-color: #{$color-scheme};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-b-c-#{$ns}-#{"" + $key} {
                    --b-c-b: #{$color-base};

                    border-#{$prop}-color: #{$color-scheme};
                }
            }
        }
    }
}