@use '../../../../core/tokens/text';
@use '../../../../core/util';

$_text-deco: text.$text-deco;
$_imp: util.$important;

@each $name, $spec in $_text-deco {
    .text-d-#{$name} {
        // text-decoration-line: $key #{$_imp};

        text-decoration: #{$spec} #{var(--t-d-t, 1px)} #{var(--t-d-s, solid)} #{var(--t-d-c, black)} #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-#{$name} {
            // text-decoration-line: $key #{$_imp};

            text-decoration: #{$spec} #{var(--t-d-t, 1px)} #{var(--t-d-s, solid)} #{var(--t-d-c, black)} #{$_imp};
        }
    }
}