@use '../../../../core/tokens/decoration';
@use '../../../../core/util';

$_text-deco: decoration.$dec-style;

@each $key in $_text-deco {
    .text-d-s-#{$key} {
        --t-d-s: #{$key};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-s-#{key} {
            --t-d-s: #{$key};
        }
    }
}
