@use '../../../../core/tokens/text';
@use '../../../../core/util';

$_text-deco: text.$text-deco;
$_imp: util.$important;

.text-d {
    text-decoration-line: var(--t-d, underline) #{$_imp};
    text-decoration-thickness: var(--t-d-t, 1px) #{$_imp};
    text-decoration-style: var(--t-d-s, solid) #{$_imp};
    text-decoration-color: var(--t-d-c, black) #{$_imp};
}