@use '../../../core/tokens/directions';
@use '../../../core/util';

$_directions: directions.$directions;
$_unit-ns: m-unit;

@for $ind from 0 through 100 {
    $margin: util.units($ind, $_unit-ns);

    .m-#{$ind} {
        margin: $margin;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-m-#{$ind} {
            margin: $margin;
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .m-#{$dir}-#{$ind} {
                margin-#{$prop}: $margin;
            }

            @include util.responsive using ($bp) {
                .#{$bp}-m-#{$dir}-#{$ind} {
                    margin-#{$prop}: $margin;
                }
            }
        }
    }
}