@use '../../../core/tokens/directions';
@use '../../../core/util';

$_unit-ns: m-unit;

@for $ind from 0 through 100 {
    $margin: util.units($ind, $_unit-ns);

    .m-#{$ind} {
        margin: #{$margin};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-m-#{$ind} {
            margin: #{$margin};
        }
    }

    @each $key, $value in directions.$directions {
        @each $val in $value {
            .m-#{$key}-#{$ind} {
                margin-#{$val}: #{$margin};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-m-#{$key}-#{$ind} {
                    margin-#{$val}: #{$margin};
                }
            }
        }
    }
}