$pos: (
    absolute,
    relative,
    fixed,
    sticky,
    static
);

$border-corns: (
    tl: top-left,
    tr: top-right,
    bl: bottom-left,
    br: bottom-right,
    l: (top-left, bottom-left),
    r: (top-right, bottom-right),
    t: (top-left, top-right),
    b:(bottom-left, bottom-right)
);

$pos-ver: (
    s: start,
    e: end,
    c: center
);

$pos-hor: (
    l: left,
    r: right,
    c: center
);

$just-ali: (
    c: content,
    s: self,
    i: items
);

$borders: (
    solid,
    dotted,
    dashed,
    none
);

$directions: (
    t: top,
    b: bottom,
    r: right,
    l: left,
    x: (left, right),
    y: (top, bottom)
);

$text-deco: (
    no: none,
    und: underline,
    ovr: overline,
    li-th: line-through,
);

$text-deco-style: (
    none,
    solid,
    wavy,
    dotted,
    dashed
);

$text-transform: (
    cap: capitalize,
    up: uppercase,
    low: lowercase,
);

$text-overflow: (
    cli: clip,
    eli: ellipsis,
);

$displays: (
    flex,
    none,
    block,
    grid
);

$flex-dir: (
    c: column,
    r: row,
    cr: column-reverse,
    rr: row-reverse
);

$flex-wrap: (
    wr: wrap,
    re: wrap-reverse,
);

$bg-pos: (
    lt: left top,
    lc: left center,
    lb: left bottom,
    rt: right top,
    rc: right center,
    rb: right bottom,
    ct: center top,
    cc: center center,
    cb: center bottom,
);

$bg-rep: (
    re: repeat,
    re-x: repeat-x,
    re-y: repeat-y,
    no-re: no-repeat,
    sp: space,
    ro: round,
);

$bg-att: (
    fix: fixed,
    loc: local,
);

$white-space: (
    nowrap,
    pre,
    pre-line,
    pre-wrap,
);

$font-style: (
    norm: normal,
    it: italic,
    ob: oblique,
);

$box-shadow: (
    sm,
    md,
    lg,
    xl,
);