@use 'sass:map';
@use 'sass:color';

@use './tokens';
@use './variables';

$use_breakpoints: map.get(variables.$config, "breakpoints");
$use_important: map.get(variables.$config, "important");
$breakpoints: variables.$breakpoints;

$important: #{if(sass($use_important): "!important"; else: "")};

@mixin responsive {
    @if $use_breakpoints {
        @each $key, $val in $breakpoints {
            @media(min-width: $val) {
                @content($key);
            }
        }
    }
}

@function rgb-values($col){
    @return
         #(color.channel($col, "red", $space: rgb)),
         #(color.channel($col, "green", $space: rgb)),
         #(color.channel($col, "blue", $space: rgb));
}
