@use 'sass:meta';
@use 'sass:map';
@use 'sass:color';

@use './variables/config';
@use './variables/volumes';

$use_breakpoints: map.get(config.$config, "breakpoints");
$use_important: map.get(config.$config, "important");
$breakpoints: volumes.$breakpoints;

@function imp($value) {
    @return $value #{if(sass($use_important): "!important"; else: "")};
}

@mixin responsive {
    @if $use_breakpoints {
        @each $key, $val in $breakpoints {
            @media(min-width: $val) {
                @content($key);
            }
        }
    }
}

@function rgb-values($col) {
    @if meta.type-of($col) !='color' {
        @return null;
    }

    @return #{color.channel($col, "red", $space: rgb)},
    #{color.channel($col, "green", $space: rgb)},
    #{color.channel($col, "blue", $space: rgb)};
}

@function color-scheme($c, $sh-i, $sh-t, $op) {
    @return rgb(from color-mix(in srgb, rgb(var(#{$c})) var(#{$sh-i}, 100%), var(#{$sh-t}, white)) r g b / var(#{$op}, 1));
}

@function units($val, $units-name, $def: 1px) {
    @return imp(calc(#{$val} * var(--#{$units-name}, #{$def})));
}