$config: (
    important: false,
    breakpoints: true,
);

$values: (
    px: 5px,
    per: 5%,
    rem: 2rem,
);

$colors: (
    light: #FAFAFA,
    dark: #102020,
);

$breakpoints: (
    sm: 320px,
    md: 768px,
    lg: 1440px,
);

$fonts: (
);

$images: (
);