$config: (
    important: false,
    breakpoints: true,
);

$values: (
    pixel: 5px,
    percent: 5%,
);

$colors: (
    light: #FAFAFA,
    dark: #102020,
);

$fonts: (
);

$breakpoints: (
    sm: 425px,
    md: 768px,
    lg: 1024px,
);