$config: (
    important: false,
    breakpoints: true,
);

$values: (
    px: 5px,
    per: 5%,
    rem: 2rem,
);

$colors: (
    light: #FAFAFA,
    dark: #102020,
    green: #72a75b,
    red: #C13101,
    blue: #255CB8,
    yellow: #F2BD03,
);

$color-shades: (
    white: 60%,
    black: 65%,
);

$color-opacity: (
    sm: 0.8,
    md: 0.5,
    lg: 0.3,
);

$breakpoints: (
    sm: 320px,
    md: 768px,
    lg: 1440px,
);

$fonts: (
);

$fonts-custom: (
);

$images: (
);
