@use 'sass:list';

@use '../../core/tokens/sizes';
@use '../../core/util';

$_imp: util.$important;
$_sizes: sizes.$sizes;

@for $ind from 1 through list.length($_sizes) {
    $val: list.nth($_sizes, $ind);

    @for $i from 0 through 3 {
        .box-sh-#{$val}-o-#{$i} {
            box-shadow: 0 calc(#{$i} * 2px) calc(#{$i} * 4px) 0 rgba(0, 0, 0, calc($i/10)),
            0 calc(#{$i} * 3px) calc(#{$i} * 10px) 0 rgba(0, 0, 0, calc(($i - 1)/10)) #{$_imp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-box-sh-#{$val}-o-#{$i} {
                box-shadow: 0 calc(#{$i} * 2px) calc(#{$i} * 4px) 0 rgba(0, 0, 0, calc($i/10)),
                0 calc(#{$i} * 3px) calc(#{$i} * 10px) 0 rgba(0, 0, 0, calc(($i - 1)/10)) #{$_imp};
            }
        }
    }
}
