@use 'sass:map';

@use '../../core/variables/volumes';
@use '../../core/util';

$_per: map.get(volumes.$values, 'per');
$_imp: util.$important;

@for $ind from 0 through 20 {
    .o-#{$ind} {
        opacity: calc(#{$ind} * #{$_per}) #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-o-#{$ind} {
            opacity: calc(#{$ind} * #{$_per}) #{$_imp};
        }
    }
}
