@use 'sass:map';

@use '../../core/variables/volumes';
@use '../../core/util';

$_per: map.get(volumes.$values, 'per');

@for $ind from 0 through 20 {
    .o-#{$ind} {
        opacity: util.imp(calc(#{$ind} * #{$_per}));
    }

    @include util.responsive using ($bp) {
        .#{$bp}-o-#{$ind} {
            opacity: util.imp(calc(#{$ind} * #{$_per}));
        }
    }
}
