@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$values: variables.$values;
$px: map.get($values, 'px');
$imp: util.$important;

@for $ind from 1 through 9 {
    .gap-#{$ind} {
        gap: calc(#{$ind} * #{$px}) #{$imp};
    }

    .r-gap-#{$ind} {
        row-gap: calc(#{$ind} * #{$px}) #{$imp};
    }

    .c-gap-#{$ind} {
        column-gap: calc(#{$ind} * #{$px}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-gap-#{$ind} {
            gap: calc(#{$ind} * #{$px}) #{$imp};
        }

        .#{$bp}-r-gap-#{$ind} {
            row-gap: calc(#{$ind} * #{$px}) #{$imp};
        }

        .#{$bp}-c-gap-#{$ind} {
            column-gap: calc(#{$ind} * #{$px}) #{$imp};
        }
    }

    @for $ind_2 from 1 through 20 {
        @each $key, $value in $values {
            .grid-t-r-#{$ind}-#{$key}-#{$ind_2} {
                grid-template-rows: repeat(#{$ind}, #{$ind_2} * #{$value}) #{$imp};
            }

            .grid-t-c-#{$ind}-#{$key}-#{$ind_2} {
                grid-template-columns: repeat(#{$ind}, #{$ind_2} * #{$value}) #{$imp};
            }
        }

        @include util.responsive using ($bp) {
            @each $key, $value in $values {
                .#{$bp}-grid-t-r-#{$ind}-#{$key}-#{$ind_2} {
                    grid-template-rows: repeat(#{$ind}, #{$ind_2} * #{$value}) #{$imp};
                }

                .#{$bp}-grid-t-c-#{$ind}-#{$key}-#{$ind_2} {
                    grid-template-columns: repeat(#{$ind}, #{$ind_2} * #{$value}) #{$imp};
                }
            }
        }
    }
}