@use 'sass:map';

@use '../core/tokens';
@use '../core/variables';
@use '../core/util';

$pixel: map.get(variables.$values, 'pixel');
$percent: map.get(variables.$values, 'percent');
$imp: util.$important;

@for $ind from 1 through 9 {
    .gap-#{$ind} {
        gap: calc(#{$ind} * #{$pixel}) #{$imp};
    }

    .r-gap-#{$ind} {
        row-gap: calc(#{$ind} * #{$pixel}) #{$imp};
    }

    .c-gap-#{$ind} {
        column-gap: calc(#{$ind} * #{$pixel}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-gap-#{$ind} {
            gap: calc(#{$ind} * #{$pixel}) #{$imp};
        }

        .#{$bp}-r-gap-#{$ind} {
            row-gap: calc(#{$ind} * #{$pixel}) #{$imp};
        }

        .#{$bp}-c-gap-#{$ind} {
            column-gap: calc(#{$ind} * #{$pixel}) #{$imp};
        }
    }

    @for $ind_2 from 1 through 20 {
        .grid-t-r-#{$ind}-fix-#{$ind_2} {
            grid-template-rows: repeat(#{$ind}, #{$ind_2} * 1rem) #{$imp};
        }

        .grid-t-r-#{$ind}-per-#{$ind_2} {
            grid-template-rows: repeat(#{$ind}, #{$ind_2} * #{$percent}) #{$imp};
        }

        .grid-t-c-#{$ind}-fix-#{$ind_2} {
            grid-template-columns: repeat(#{$ind}, #{$ind_2} * 1rem) #{$imp};
        }

        .grid-t-c-#{$ind}-per-#{$ind_2} {
            grid-template-columns: repeat(#{$ind}, #{$ind_2} * #{$percent}) #{$imp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-grid-t-r-#{$ind}-fix-#{$ind_2} {
                grid-template-rows: repeat(#{$ind}, #{$ind_2} * 1rem) #{$imp};
            }

            .#{$bp}-grid-t-r-#{$ind}-per-#{$ind_2} {
                grid-template-rows: repeat(#{$ind}, #{$ind_2} * $percent) #{$imp};
            }

            .#{$bp}-grid-t-c-#{$ind}-fix-#{$ind_2} {
                grid-template-columns: repeat(#{$ind}, #{$ind_2} * 1rem) #{$imp};
            }

            .#{$bp}-grid-t-c-#{$ind}-per-#{$ind_2} {
                grid-template-columns: repeat(#{$ind}, #{$ind_2} * $percent) #{$imp};
            }
        }
    }
}