@use '../../core/variables/colors';
@use '../../core/util';

$_shades: colors.$color-shades;

@each $name, $shade in $_shades {
    .c-sh-#{"" + $name} {
        --c-sh-i: #{$shade};
        --c-sh-t: #{$name};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-sh-#{"" + $name} {
            --c-sh-i: #{$shade};
            --c-sh-t: #{$name};
        }
    }
}
