@use '../../core/variables';
@use '../../core/util';

$_colors: variables.$colors;
$_imp: util.$important;



/*@each $key, $col in $_colors {
    .c-#{$key} {
        color: $col #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-#{$key} {
            color: $col #{$_imp};
        }
    }
}*/

// MUST CONVER  $color in to RGB!!!!!!

@each $key, $col in $_colors {
    .c-#{$key} {
        --c: /*RGB color from $col*/;
        --c-body: color-mix(in srgb, rgb(var(--c)) var(--c-sh-i, 100%), var(--c-sh, white));

        color: rgba(var(--c-body), var(--c-op, 1)) #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-#{$key} {
            --c: $col;

            color: rgba(var(--c-sh, var(--c)), var(--c-op, 1)) #{$_imp};
        }
    }
}