@use '../../core/variables/colors';
@use '../../core/util';

@include util.c-conf-reset('');

@each $ns, $val in colors.$colors {
    $color-scheme: util.color-scheme(#{util.rgb-values($val)}, --c-sh-i, --c-sh-t, --c-op);

    .c-#{"" + $ns} {
        color: #{$color-scheme};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-#{"" + $ns} {
            color: #{$color-scheme};
        }
    }
}