@use '../../core/variables/colors';
@use '../../core/util';

@each $ns, $val in colors.$colors {
    $color-base: #{util.rgb-values($val)};
    $color-scheme: util.color-scheme(--c-b, --c-sh-i, --c-sh-t, --c-op);

    .c-#{"" + $ns} {
        --c-b: #{$color-base};

        color: #{$color-scheme};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-c-#{"" + $ns} {
            --c-b: #{$color-base};

            color: #{$color-scheme};
        }
    }
}