@use 'sass:map';

@use '../../core/tokens';
@use '../../core/variables';
@use '../../core/util';

$px: map.get(variables.$values, 'px');
$fonts: variables.$fonts;
$imp: util.$important;
$font-style: tokens.$font-style;

@each $font in $fonts {
    $name: #{map.get($font, "name")};

    @font-face {
        font-family: $name;
        src: url('./fonts/#{map.get($font, "dest")}') format('#{map.get($font, "format")}');
    }

    .#{$name} {
        font-family: $name #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-#{$name} {
            font-family: $name #{$imp};
        }
    }
}

@for $ind from 0 through 20 {
    .font-s-#{$ind} {
        font-size: calc(#{$ind} * #{$px}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-s-#{$ind} {
            font-size: calc(#{$ind} * #{$px}) #{$imp};
        }
    }
}

@for $ind from 1 through 9 {
    .font-w-#{$ind} {
        font-weight: calc(#{$ind} * 100) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-w-#{$ind} {
            font-weight: calc(#{$ind} * 100) #{$imp};
        }
    }
}

@each $key, $value in $font-style {
    .font-st-#{$key} {
        font-style: $value;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-font-st-#{$key} {
            font-style: $value;
        }
    }
}