@use '../../core/variables/volumes';
@use '../../core/util';

@for $ind from 1 through 9 {
    @for $ind_2 from 1 through 20 {
        @each $ns, $val in volumes.$values {
            $col-temp: util.imp(repeat(#{$ind}, $ind_2 * $val));

            .grid-t-c-#{$ind}-#{$ns}-#{$ind_2} {
                grid-template-columns: $col-temp;
            }

            @include util.responsive using ($bp) {
                .#{$bp}-grid-t-c-#{$ind}-#{$ns}-#{$ind_2} {
                    grid-template-columns: $col-temp;
                }
            }
        }
    }
}