@use '../../core/util';
@use '../../core/variables/volumes';

@each $ns, $val in volumes.$values {

    // grid gap
    .c-gap-unit-#{$ns} {
        --c-gap-unit: #{$val};
    }

    .gap-unit-#{$ns} {
        --gap-unit: #{$val};
    }

    .r-gap-unit-#{$ns} {
        --r-gap-unit: #{$val};
    }

    // grid main
    .grid-t-c-unit-#{$ns} {
        --grid-t-c-unit: #{$val};
    }

    .grid-t-r-unit-#{$ns} {
        --grid-t-r-unit: #{$val};
    }

    @include util.responsive using ($bp) {

        // grid gap
        .#{$bp}-c-gap-unit-#{$ns} {
            --c-gap-unit: #{$val};
        }

        .#{$bp}-gap-unit-#{$ns} {
            --gap-unit: #{$val};
        }

        .#{$bp}-r-gap-unit-#{$ns} {
            --r-gap-unit: #{$val};
        }

        //grid main
        .#{$bp}-grid-t-c-unit-#{$ns} {
            --grid-t-c-unit: #{$val};
        }

        .#{$bp}-grid-t-r-unit-#{$ns} {
            --grid-t-r-unit: #{$val};
        }
    }
}