@use '../../core/utility/util';

@mixin g-res-conf() {
    --grid-t-c: auto;
    --grid-t-r: auto;
}

.g-res {
    @include g-res-conf();
}

.grid {
    grid-template-columns: util.imp(var(--grid-t-c, auto));
    grid-template-rows: util.imp(var(--grid-t-r, auto));
}