@use '../../core/util';

$_unit-ns: grid-t-c-unit;

@for $ind from 1 through 9 {
    @for $ind_2 from 1 through 100 {
        $col-base: util.units($ind_2, $_unit-ns);
        $col-temp: repeat(#{$ind}, #{$col-base});

        .grid-t-c-#{$ind}-#{$ind_2} {
            --grid-t-c: #{$col-temp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-grid-t-c-#{$ind}-#{$ind_2} {
                --grid-t-c: #{$col-temp};
            }
        }

    }
}