@use '../../core/util';

@mixin g-def-res() {
    --grid-t-c: auto;
    --grid-t-r: auto;
    //grid gap
    --gap: 0;
    --r-gap: 0;
    --c-gap: 0;
}

@mixin i-res() {
    --grid-a: auto;
    --grid-c-e: auto;
    --grid-c-s: auto;
    --grid-o: auto;
    --grid-r-e: auto;
    --grid-r-s: auto;
}

.grid {
    @include g-def-res();

    grid-template-columns: util.imp(var(--grid-t-c, auto));
    grid-template-rows: util.imp(var(--grid-t-r, auto));
    //grid gap
    gap: util.imp(var(--gap, 0));
    row-gap: util.imp(var(--r-gap, var(--gap, 0)));
    column-gap: util.imp(var(--c-gap, var(--gap, 0)));
}

.grid-item {
    @include i-res();

    grid-area: util.imp(var(--grid-a, auto));
    grid-column-end: util.imp(var(--grid-c-e, auto));
    grid-column-start: util.imp(var(--grid-c-s, auto));
    order: util.imp(var(--grid-o, 0));
    grid-row-end: util.imp(var(--grid-r-e, auto));
    grid-row-start: util.imp(var(--grid-r-s, auto));
}