@use '../../../core/tokens/directions';
@use '../../../core/util';

$_directions: directions.$directions;
$_unit-ns: dir-unit;

@each $key, $prop in $_directions {
    @for $i from 0 through 100 {
        @if $key !=x and $key !=y {
            $dir: util.units($i, $_unit-ns);

            .#{$prop}-#{$i} {
                #{$prop}: $dir;
            }

            @include util.responsive using ($bp) {
                .#{$bp}-#{$prop}-#{$i} {
                    #{$prop}: $dir;
                }
            }
        }
    }
}