@use "../../core/variables/volumes";
@use "../../core/util";

$_values: volumes.$values;

@each $ns, $val in $_values {
    .bg-s-unit-#{$ns} {
        --bg-s-unit: $val;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-s-unit-#{$ns} {
            --bg-s-unit: $val;
        }
    }
}