@use '../../core/tokens/background';
@use '../../core/util';

$_repeat: background.$bg-rep;

@each $key, $val in $_repeat {
    .bg-#{$key} {
        background-repeat: util.imp($val);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-#{$key} {
            background-repeat: util.imp($val);
        }
    }
}