@use '../../core/tokens';
@use '../../core/util';

$imp: util.$important;
$position: tokens.$bg-pos;

@each $key, $val in $position {
    .bg-p-#{$key} {
        background-position: $val #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-p-#{$key} {
            background-position: $val #{$imp};
        }
    }
}