@use '../../core/tokens/background';
@use '../../core/util';

$_attach: background.$bg-att;

@each $key, $val in $_attach {
    .bg-a-#{$key} {
        --bg-a: $val;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-a-#{$key} {
            --bg-a: $val;
        }
    }
}