@use 'sass:map';

@use '../../core/variables/volumes';
@use '../../core/util';

$_per: map.get(volumes.$values, "per");

$unit-ns: bg-s-unit;

@for $i from 0 through 100 {
    .bg-#{$i} {
        background-size: util.imp(util.units($i, $unit-ns));
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-#{$i} {
            background-size: util.imp(util.units($i, $unit-ns));
        }
    }
}