@use '../../core/tokens/background';
@use '../../core/util';

$_repeat: background.$bg-rep;

@each $key, $val in $_repeat {
    .bg-r-#{$key} {
        --bg-r: $val;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-r-#{$key} {
            --bg-r: $val;
        }
    }
}