@use '../../core/tokens';
@use '../../core/util';

$_imp: util.$important;
$_repeat: tokens.$bg-rep;

@each $key, $val in $_repeat {
    .bg-r-#{$key} {
        background-repeat: $val #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-r-#{$key} {
            background-repeat: $val #{$_imp};
        }
    }
}