@use '../../core/variables/background';
@use '../../core/util';

$_imp: util.$important;
$_images: background.$images;

@each $name, $img in $_images {
    .bg-i-#{$name} {
        background-image: $img #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-i-#{$name} {
            background-image: $img #{$_imp};
        }
    }
}
