@use 'sass:map';

@use '../../core/variables/volumes';
@use '../../core/util';

$_per: map.get(volumes.$values, "per");
$_imp: util.$important;

@for $i from 0 through 20 {
    .bg-#{$i} {
        background-size: calc(#{$i} * #{$_per}) #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-#{$i} {
            background-size: calc(#{$i} * #{$_per}) #{$_imp};
        }
    }
}
