@use '../../core/tokens/background';
@use '../../core/util';

$_position: background.$bg-pos;

@each $key, $val in $_position {
    .bg-p-#{$key} {
        --bg-p: $val;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-p-#{$key} {
            --bg-p: $val;
        }
    }
}