@use '../../core/tokens/background';
@use '../../core/util';

$_attach: background.$bg-att;

@each $key, $val in $_attach {
    .bg-a-#{$key} {
        background-attachment: util.imp($val);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-a-#{$key} {
            background-attachment: util.imp($val);
        }
    }
}