@use '../../core/tokens/background';
@use '../../core/util';

$_imp: util.$important;
$_position: background.$bg-pos;

@each $key, $val in $_position {
    .bg-#{$key} {
        background-position: $val #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-#{$key} {
            background-position: $val #{$_imp};
        }
    }
}
