@use '../../core/variables';
@use '../../core/util';

$_colors: variables.$colors;
$_imp: util.$important;

@each $key, $col in $_colors {
    .bg-#{"" + $key} {
        background-color: $col #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-#{"" + $key} {
            background-color: $col #{$_imp};
        }
    }
}