@use '../../core/variables/volumes';
@use '../../core/util';

$_unit-ns: bg-s-unit;

@for $i from 0 through 100 {
    $bg-size-units: util.units($i, $_unit-ns, 1%);

    .bg-s-#{$i} {
        --bg-s: $bg-size-units;
    }

    @include util.responsive using ($bp) {
        .#{$bp}-bg-s-#{$i} {
            --bg-s: $bg-size-units;
        }
    }
}