@use '../../../core/tokens/text';
@use '../../../core/util';

$_transform: text.$text-transform;

@each $key, $value in $_transform {
    .text-t-#{$key} {
        text-transform: util.imp($value);
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-t-#{$key} {
            text-transform: util.imp($value);
        }
    }
}