@use '../../../core/variables/colors';
@use '../../../core/util';

$_imp: util.$important;
$_colors: colors.$colors;

@each $key, $value in $_colors {
    .text-d-c-#{"" + $key} {
        text-decoration-color: $value #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-c-#{"" + $key} {
            text-decoration-color: $value #{$_imp};
        }
    }
}
