@use '../../../core/variables';
@use '../../../core/util';

$values: variables.$values;
$imp: util.$important;

@for $i from 0 through 20 {
    @each $key, $value in $values {
        .text-d-t-#{$key}-#{$i} {
            text-decoration-thickness: calc(#{$i} * #{$value}) #{$imp};
        }

        @include util.responsive using ($bp) {
            #{$bp}-text-d-t-#{$key}-#{$i} {
                text-decoration-thickness: calc(#{$i} * #{$value}) #{$imp};
            }
        }
    }
}