@use '../../../core/utility/util';
@use '../spacing/spacing-def';

@mixin t-res-conf {
    // text decoration config
    --text-d-s: solid;
    --text-d-t: auto;
    --text-d: none;
    // text config
    --text-a: inherit;
    --text-o: clip;
    --text-t: none;
}

.uno-t-res {
    @include t-res-conf();
}

.t-res {
    @include t-res-conf();
    @include spacing-def.spc-res-conf();
}

.uno-text,
.text {
    // text decoration config
    text-decoration-color: util.imp(var(--text-d-c, currentColor));
    text-decoration-style: util.imp(var(--text-d-s, solid));
    text-decoration-thickness: util.imp(var(--text-d-t, auto));
    text-decoration-line: util.imp(var(--text-d, none));
    // text config
    text-align: util.imp(var(--text-a, inherit));
    text-overflow: util.imp(var(--text-o, clip));
    text-transform: util.imp(var(--text-t, none));
}

.text {
    // text - spacing
    @include spacing-def.space();
}