@use '../../../core/variables';
@use '../../../core/util';

$imp: util.$important;
$colors: variables.$colors;

@each $key, $value in $colors {
    .text-d-c-#{$key} {
        text-decoration-color: $value #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-c-#{$key} {
            text-decoration-color: $value #{$imp};
        }
    }
}