@use '../../../core/tokens';
@use '../../../core/util';

$_imp: util.$important;
$_overflow: tokens.$text-overflow;

@each $key, $value in $_overflow {
    .text-o-#{$key} {
        text-overflow: $value #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-o-#{$key} {
            text-overflow: $value #{$_imp};
        }
    }
}