@use '../../../core/tokens/positions';
@use '../../../core/util';

$_pos-hor: positions.$pos-hor;

@each $key, $pos in $_pos-hor {
    .text-a-#{$key} {
        text-align: util.imp(#{$pos});
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-a-#{$key} {
            text-align: util.imp(#{$pos});
        }
    }
}