@use '../../../core/tokens/positions';
@use '../../../core/util';

$_pos-hor: positions.$pos-hor;
$_imp: util.$important;

@each $key, $pos in $_pos-hor {
    .text-a-#{key} {
        text-align: #{$pos} #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-a-#{key} {
            text-align: #{$pos} #{$_imp};
        }
    }
}