@use '../../../core/tokens';
@use '../../../core/util';

$_text-deco: tokens.$text-deco;
$_imp: util.$important;

@each $key in $_text-deco {
    .text-d-#{$key} {
        text-decoration: $key #{$_imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-text-d-#{key} {
            text-decoration: $key #{$_imp};
        }
    }
}