/*@use '../../../core/utility/util';

$_unit-ns: min-w-unit;

@for $ind from 0 through 100 {
    $width: util.units($ind, $_unit-ns, 1%);

    .min-w-#{$ind} {
        --min-w: #{$width};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-min-w-#{$ind} {
            --min-w: #{$width};
        }
    }
}*/

@use '../../../core/utility/unified-sizing-util';

@include unified-sizing-util.sizing-util(min-width, min-w, min-w-unit, 1%);