@use '../../../core/util';

.w {
    // width
    --w: 100%;
    width: util.imp(var(--w, 100%));
    // max-width
    --max-w: auto;
    max-width: util.imp(var(--max-w, auto));
    //min-width
    --min-w: auto;
    min-width: util.imp(var(--min-w, auto));
}