@use "../../../core/util";

.w {
    // width
    width: util.imp(var(--w, 100%));
    // max-width
    max-width: util.imp(var(--max-w, auto));
    //min-width
    min-width: util.imp(var(--min-w, auto));
}