//@use '../../../core/utility/util';

/*$_unit-ns: w-unit;

@for $ind from 0 through 100 {
    //$width: util.units($ind, $_unit-ns);
    $unit: util.units($ind, $_unit-ns);

    .w-#{$ind} {
        //--w: #{$width};
        width: #{$unit};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-w-#{$ind} {
            //--w: #{$width};
            width: #{$unit};
        }
    }
}*/

@use '../../../core/utility/unified-sizing-util';

@include unified-sizing-util.sizing-util(width, w, w-unit);