@use '../../../core/variables';
@use '../../../core/util';

$_values: variables.$values;
$_imp: util.$important;

@for $ind from 0 through 20 {
    @each $key, $value in $_values {
        .w-#{$key}-#{$ind} {
            width: calc(#{$ind} * #{$value}) #{$_imp};
        }

        @include util.responsive using ($bp) {
            .#{$bp}-w-#{$key}-#{$ind} {
                width: calc(#{$ind} * #{$value}) #{$_imp};
            }
        }
    }
}