@use '../../../core/util';

$_unit-ns: letter-s-unit;

@for $i from 1 through 100 {
    $spacing: util.units($i, $_unit-ns);

    .letter-s-#{$i} {
        letter-spacing: #{$spacing};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-letter-s-#{$i} {
            letter-spacing: #{$spacing};
        }
    }
}