@use '../../../core/util';

$_unit-ns: line-h-unit;

@for $i from 0 through 100 {
    $height: util.units($i, $_unit-ns);

    .line-h-#{$i} {
        line-height: #{$height};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-line-h-#{$i} {
            line-height: #{$height};
        }
    }
}