@use '../../../core/util';
@use '../../../core/variables/volumes';

@each $ns, $val in volumes.$values {
    .letter-s-unit-#{$ns} {
        --font-s-unit: #{$val};
    }

    .line-h-unit-#{$ns} {
        --font-s-unit: #{$val};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-letter-s-unit-#{$ns} {
            --font-s-unit: #{$val};
        }

        .#{$bp}-line-h-unit-#{$ns} {
            --font-s-unit: #{$val};
        }
    }
}