@use 'sass:map';

@use '../../core/tokens/directions';
@use '../../core/variables/volumes';
@use '../../core/util';

$_px: map.get(volumes.$values , 'px');
$_directions: directions.$directions;

@for $ind from 0 through 9 {
    .m-#{$ind} {
        margin: util.imp(calc(#{$ind} * #{$_px}));
    }

    @include util.responsive using ($bp) {
        .#{$bp}-m-#{$ind} {
            margin: util.imp(calc(#{$ind} * #{$_px}));
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .m-#{$dir}-#{$ind} {
                margin-#{$prop}: util.imp(calc(#{$ind} * #{$_px}));
            }

            @include util.responsive using ($bp) {
                .#{$bp}-m-#{$dir}-#{$ind} {
                    margin-#{$prop}: util.imp(calc(#{$ind} * #{$_px}));
                }
            }
        }
    }
}