@use 'sass:map';

@use '../../core/tokens';
@use '../../core/variables';
@use '../../core/util';

$px: map.get(variables.$values, 'px');
$directions: tokens.$directions;
$imp: util.$important;

@for $ind from 0 through 9 {
    .p-#{$ind} {
        padding: calc(#{$ind} * #{$px}) #{$imp};
    }

    @include util.responsive using ($bp) {
        .#{$bp}-p-#{$ind} {
            padding: calc(#{$ind} * #{$px}) #{$imp};
        }
    }

    @each $dir, $props in $directions {
        @each $prop in $props {
            .p-#{$dir}-#{$ind} {
                padding-#{$prop}: calc(#{$ind} * #{$px}) #{$imp};
            }

            @include util.responsive using ($bp) {
                .#{$bp}-p-#{$dir}-#{$ind} {
                    padding-#{$prop}: calc(#{$ind} * #{$px}) #{$imp};
                }
            }
        }
    }
}