@use 'sass:map';

@use '../../core/tokens/directions';
@use '../../core/variables/volumes';
@use '../../core/util';

$_px: map.get(volumes.$values, 'px');
$_directions: directions.$directions;

@for $ind from 0 through 9 {
    .p-#{$ind} {
        padding: util.imp(calc(#{$ind} * #{$_px}));
    }

    @include util.responsive using ($bp) {
        .#{$bp}-p-#{$ind} {
            padding: util.imp(calc(#{$ind} * #{$_px}));
        }
    }

    @each $dir, $props in $_directions {
        @each $prop in $props {
            .p-#{$dir}-#{$ind} {
                padding-#{$prop}: util.imp(calc(#{$ind} * #{$_px}));
            }

            @include util.responsive using ($bp) {
                .#{$bp}-p-#{$dir}-#{$ind} {
                    padding-#{$prop}: util.imp(calc(#{$ind} * #{$_px}));
                }
            }
        }
    }
}